tr{
    text-align: center;
}

#button-criar{
    display: flex;
    align-items: center;
}

.mydialog {
    width: 50vw;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}