
<!--view do admin-->

<app-card [titulo]="'Lista de eventos'" *ngIf="usuario.admin" class="listagem-eventos">

<div class="p-d-flex p-jc-end">
    <button id="button-criar" routerLink="/eventos/formulario" pButton type="button" label="Criar Evento" ></button>
</div>
<br/>

<p-table [value]="eventos">
    <ng-template pTemplate="header">
        <tr>
            <th>Titulo</th>
            <th id="valor">Valor</th>
            <th id="vagas">Vagas</th>
            <th id="data-inicio">Data de inicio</th>
            <th id="data-fim">Data fim</th>
            <th id="acoes">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
        <tr>
            <td>{{evento.titulo}}</td>
            <td>{{evento.valor | currency:"BRL"}}</td>
            <td>{{evento.qtdVagas}}</td>
            <td>{{evento.periodoInicio | date: "dd/MM/yyyy HH:MM"}}</td>
            <td>{{evento.periodoFim | date: "dd/MM/yyyy HH:MM"}}</td>
            <td>
                <button id="botao-info" class="p-ml-2" (click)="showDialog(evento.id)" pButton type="button" icon="pi pi-info-circle"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
        <p-dialog  header="Informação do evento" [(visible)]="display" styleClass="mydialog">
            <app-informacao 
            [evento]="evento"
            [tipoEvento]="tipoEvento"
            [perguntas]="perguntas"
            (eventoDeletado)="fecharDialog($event)"
            
         ></app-informacao>
        </p-dialog>
</app-card>

<!--view de usuario-->
<app-card [titulo]="'Lista de eventos'" *ngIf = "!usuario.admin" class="listagem-eventos">
    
    <p-table [value]="eventos">
        <ng-template pTemplate="header">
            <tr>
                <th>Titulo</th>
                <th>Descricao</th>
                <th>Vagas</th>
                <th>Local</th>
                <th>Inscrição</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evento>
            <tr>
                <td>{{evento.titulo}}</td>
                <td>{{evento.descricao}}</td>
                <td>{{evento.qtdVagas}}</td>
                <td>{{evento.local}}</td>
                <td>
                    <div class="p-d-flex p-jc-end">
                        <button id="botao-inscrever" [disabled]="evento.qtdVagas == 0" [routerLink]="['/inscricao/formulario', evento.id]" pButton type="button" label="Inscrever-se" ></button>
                   
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    </app-card>

