
    <app-card [titulo]="evento.descricao" class="formulario-evento">
    <p-table [value]="perguntas" >
        <ng-template pTemplate="body" let-pergunta>
            
            <tr>
                <td>{{pergunta.titulo}} <strong *ngIf="pergunta.obrigatorio" id="asterisco">*</strong></td>
                <td>
                    <textarea [rows]="7" [cols]="40" [(ngModel)]="pergunta.resposta" 
                    *ngIf = "pergunta.obrigatorio" placeholder = 'Resposta Obrigatoria' pInputTextarea></textarea>

                    <textarea [rows]="7" [cols]="40" [(ngModel)]="pergunta.resposta" 
                    *ngIf = "!pergunta.obrigatorio" placeholder = 'Resposta Não Obrigatoria' pInputTextarea></textarea>
                </td>
            </tr>


        </ng-template>
    </p-table>
    <button (click)="salvarResposta()"  pButton type="button" class="botao">Inscreva-se</button>
    </app-card>
