<app-card [titulo]="'Lista de inscricao'" *ngIf = "usuario.admin">
   
    <p-table [value]="inscricao">
        <ng-template pTemplate="header">
            <tr>
                <th>Pré Inscrição</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inscricao>
            <tr>
                <td>{{inscricao}}</td>
                
                <td>
                    <div class="p-d-flex p-jc-end">
                    <button id="button-criar" routerLink="" pButton type="button" label="Ação" ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    </app-card>
    
    <app-card [titulo]="'Lista de inscricao'" *ngIf = "!usuario.admin">
        
        <p-table [value]="inscricao">
            <ng-template pTemplate="header">
                <tr>
                    <th>Pré inscrição</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inscricao>
                <tr>
                    <td>{{inscricao}}</td>

                    <td>
                        <div class="p-d-flex p-jc-end">
                        <button id="button-criar" routerLink="" pButton type="button" label="Cancelar" ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        </app-card>