<app-card [titulo]="'Lista de inscricao'" *ngIf="usuario.admin"  class="listagem-inscricao-admin" >
    <p-table [value]="inscricoes">
        <ng-template pTemplate="header">
            <tr>
                <th>Usuario</th>
                <th>Perguntas</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inscricao>
            <tr>
                <td>
                    <h3>Nome:</h3>
                    <p>{{inscricao.nomeUsuario}}</p>
                    <h3>Email:</h3>
                    <p>{{inscricao.emailUsuario}}</p>
                </td>
                <td >
                    <div *ngFor="let inscricao2 of inscricao.inscricoesResposta; let i = index">
                        <p>{{inscricao.perguntas[i].titulo}}</p> 
                        <p>{{inscricao2.resposta}}</p> 
                    </div>
                </td>
                <td >
                    <p>{{inscricao.situacaoDescricao}}</p>
                    <button pButton type="button" (click)="editarInscricaoAprovado(inscricao.id)" label="Aprovado" class="p-button-outlined"></button>
                    <button pButton type="button" (click)="editarInscricaoReprovada(inscricao.id)" label="Recusado" class="p-button-outlined"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</app-card>
    

    <!--View de usuario-->
    <app-card [titulo]="'Lista de inscricao'" *ngIf="!usuario.admin">
        
        <p-table [value]="inscricoes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Pré inscrição</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inscricao>
                <tr>
                    <td>{{inscricao}}</td>

                    <td>
                        <div class="p-d-flex p-jc-end">
                        <button id="button-criar" routerLink="" pButton type="button" label="Cancelar" ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        </app-card>