<form [formGroup]="formUsuario" novalidate>
    <div  class="p-grid p-dir-col">
    <input type="text"  [(ngModel)]="usuario.nome" placeholder="Nome Completo:" formControlName="nome" pInputText/>
    <div *ngIf="formUsuario.get('nome').invalid">Nome inválido</div>
    <input type="text" maxlength="11" minlength="11" [(ngModel)]="usuario.cpf" placeholder="CPF:" formControlName="cpf" pInputText/>
    <input type="email" [(ngModel)]="usuario.email" placeholder="Email:" formControlName="email" pInputText/>
    <p-inputMask [(ngModel)]="usuario.telefone" placeholder="Telefone" formControlName="telefone"  mask="(99)99999-9999"></p-inputMask>
    <input type="date" [(ngModel)]="usuario.dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento" pInputText/>
</div>
</form>

<button (click)="salvar()" pButton type="button" label="Cadastrar Usuário"></button>