<app-card [titulo]="'Cadastro de Usuários'" class="cadastro-usuario">
<br>
<br>
<div class="box">
<form [formGroup]="formUsuario" novalidate>
    
    <div  class="p-grid p-dir-col">
    
        <input class="input"type="text"  [(ngModel)]="usuario.nome" placeholder="Nome Completo:" formControlName="nome" pInputText/>
    
        <div *ngIf="formUsuario.get('nome').invalid">Nome inválido</div>
    
        <input class="input" type="text" maxlength="11" minlength="11" [(ngModel)]="usuario.cpf" placeholder="CPF:" formControlName="cpf" pInputText/>
    
        <input class="input" type="email" [(ngModel)]="usuario.email" placeholder="Email:" formControlName="email" pInputText/>
    
        <input class="input" type="date" [(ngModel)]="usuario.dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento" pInputText/>

        <p-inputMask [(ngModel)]="usuario.telefone" placeholder="Telefone" class="input" formControlName="telefone"  mask="(99)99999-9999"></p-inputMask>
    
    </div>
</form>

<button (click)="salvar()" pButton type="button" [label]="edicao ?'Editar' : 'Cadastrar' " class="botao"></button>
</div>
</app-card>