body .ui-widget-overlay {
    background: rgba(0, 0, 0, .25);
    opacity: 1;
}
.login button{
    color: #0f0f10;
    background-color: #C0C0C0;
    border: none;
    text-align: center;
    margin: 10px;
}
.login.ui-button-text{
    color: #060930;
    text-align: center; 
}    
.login.ui-button.ui-button-rounded{
    align-items: center;
    margin: 20px; 
}