<div styleClass = "login" class="p-d-flex p-jc-center">
    <div class="p-col-6">
        <p-card  header="Login">
                <br>
                <br> 
                <i class="pi pi-key"></i><input [(ngModel)]="chaveInput" type="text" pInputText placeholder="Insira sua chave de inscrição" />
                <br>
                <br>
                <button pButton (click)="logarUsuario(chaveInput)" type="button" label="Entrar" class="ui-button-rounded" styleClass="login" ></button>
                <button pButton type="button" (click)="showDialog()" label="Cadastre-se" class="ui-button-rounded" styleClass="login" ></button> 
                <p-dialog header="Cadastro de Usuários" [(visible)]="display">
                    <app-formulario></app-formulario>
                </p-dialog> 
        </p-card> 
    </div>
</div>