<div id = "backPlate-login">
        <div class = "card" id="form" >
            <img id = "img_logo" src="../../../../../assets/layout/images/logoSGE.png"/>
           
            <div class = "midllecontent">
                <h1 class = "sge">Sistema de Gerenciamento de Eventos</h1>
                <div class = "InputChave">
                    <i class="pi pi-key"></i>
                    <input id = "insertkey" [(ngModel)]="chaveInput" type="text" pInputText placeholder="Insira sua chave de inscrição" />    
                </div>
            </div>

            <div class = "botoes">
                <button pButton (click)="logarUsuario(chaveInput)" type="button" label="Entrar" class = "botoes1"></button>   
                <button pButton type="button" (click)="showDialog()" label="Cadastre-se" class = "botoes1"></button>
                <p-dialog header="Cadastre-se" [(visible)]="display" >
                    <app-formulario></app-formulario>
                 </p-dialog>                    
            </div>
        </div>
</div>
