<app-card [titulo]="'Cadastro de Eventos'" class="cadastro-eventos">
<br>
<form [formGroup]="formEvento" >
    
    <div  class="p-fluid p-formgrid p-grid">
    
        <div class="p-field p-col-12 p-md-6">
            <input class="input" type="text"  [(ngModel)]="evento.titulo" placeholder="Titulo do evento:" formControlName="titulo" pInputText/>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <input class="input" type="text"  [(ngModel)]="evento.descricao" placeholder="Descrição do evento:" formControlName="descricao" pInputText/>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <input class="input" type="text"  [(ngModel)]="evento.local" placeholder="Digite o local do evento:" formControlName="local" pInputText/>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <input class="input" type="number"  [(ngModel)]="evento.qtdVagas" placeholder="Vagas desse evento:" formControlName="qtdVagas" pInputText/>
        </div>
        
        <div class=" p-field p-col-12 p-md-6">
            <p class="input">Selecione se o tipo da inscrição é paga</p>
            <p-inputSwitch class="input" [(ngModel)]="tipoInsc" formControlName="tipoInsc" ></p-inputSwitch>
        </div>
        <div class=" p-field p-col-12 p-md-6">
            <input class="input" type="number"  [(ngModel)]="evento.valor" placeholder="Valor de inscrição do evento: R$" formControlName="valor" pInputText *ngIf="tipoInsc == true"/>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <p-dropdown [options]="tipoEventos" placeholder="Selecione o Tipo do Evento" 
            [(ngModel)]="tipoEvento" formControlName="idTipoEvento"
            optionLabel="descricao" optionValue="id"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6">
        <p class="input">Data inicial do evento</p>
        <input class="input" type="datetime-local"  [(ngModel)]="evento.periodoInicio" placeholder="Data e hora do inicio do evento:" formControlName="periodoInicio" pInputText/>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <p class="input">Data Fim do evento</p>
            <input class="input" type="datetime-local"  [(ngModel)]="evento.periodoFim" placeholder="Data e hora do fim do evento:" formControlName="periodoFim" pInputText/>
        </div>    
        
        
        <div class=" p-field p-col-12 p-md-6">
            <p class="input">Selecione as perguntas</p>
            <p-multiSelect class="input"  formControlName="eventoPerguntas" [options]="perguntas"  [virtualScroll]="true" itemSize="40"
            [(ngModel)]="perguntaEscolhidas" optionLabel="titulo"></p-multiSelect>
        </div>

    </div>
</form>
    
<button (click)="salvar()" pButton type="button" [label]="edicao ?'Editar' : 'Cadastrar' " class="botao"></button>
</app-card>