<app-card [titulo]="'Lista de usuários'" *ngIf="usuario.admin" >    

    <div style Class="tabela">
        <p-table [value]="usuarios">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th style="width: 80px;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.telefone}}</td>
                <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td class="p-d-flex p-jc-center">
                    <div style class="botao_apagar">
                        <button (click)="deletarUsuario(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>

</app-card>


<div *ngIf="!usuario.admin">
<h1>Seu Perfil</h1>

<div class="p-d-flex p-jc-start">

    
    <p-card header={{usuario.nome}} >
        <p> <i class="pi pi-envelope"></i>
             {{usuario.email}}</p>
      
        <p> <i class="pi pi-phone"></i>
             {{usuario.telefone}}</p>
        
        <p> <i class="pi pi-id-card"></i>
             CPF: {{usuario.cpf}}</p>
        
        <p> <i class="pi pi-calendar" styleClass="pisize"></i>
             Data de nascimento: {{usuario.dataNascimento}}</p>
      
            <button (click)="confirm(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
            <button   (click)="showDialog()"  pButton type="button" icon="pi pi-pencil"></button>
      </p-card>
      <p-dialog header="Editar Usuario" [(visible)]="display">
        <app-formulario></app-formulario>
     </p-dialog>
     <p-confirmDialog header="Remover conta" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>



<div class="p-d-flex" >
  
    <div >
        <p-card styleClass ="preinsc-container" class="ui-card-container" header="Suas Inscrições">
            
            <div  >
                <p-card styleClass =insc header="Evento" >
                    <p> <i class="pi pi-pi-ticket"></i>
                         Descrição: Um evento feito no SGE</p>

                    <p> <i class="pi pi-check-square "></i>
                         Situação: Aceito</p>
                    
                    <p> <i class="pi pi-calendar" styleClass="pisize"></i>
                         Inicio: 12/12/2012
                    </p>

                    <p> <i class="pi pi-calendar" styleClass="pisize"></i>
                        Fim: 12/12/2012
                   </p>
                  
                  </p-card>
                
            </div>
            
             
        </p-card>
    </div>
</div>
</div>


