.ui-card-content p{
    padding-bottom: 2%;
    position: relative;    
}
.ui-card{
    width: auto;
    height: auto;
    text-align: center;
    
    
}
p{
    position:absolute;
    width: auto;
}



