
.tabela{
    border: 1px solid;
    margin: auto;
    margin-block-end: 25px;
}
.listagem-usuario-admin #cpf, #nascimento{
    width: 120px;
}
.listagem-usuario-admin #telefone{
    width: 130px;
}
.botao_apagar{
    border-radius: 5px;
}






