<app-card [titulo]="'Lista de usuários'" *ngIf="usuario.admin" class="listagem-usuario-admin">    

    <div style Class="tabela">
        <p-table [value]="usuarios">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th id="cpf">CPF</th>
                <th>Email</th>
                <th id="telefone">Telefone</th>
                <th id="nascimento">Nascimento</th>
                <th style="width: 80px;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.telefone}}</td>
                <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td class="p-d-flex p-jc-center">
                    <div style class="botao_apagar">
                        <button (click)="deletarUsuario(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>

</app-card>

<!--View do usuario-->
<div *ngIf="!usuario.admin">

<h1>Seu Perfil</h1>

<div  class="p-d-flex-column">

    
    <p-card [style]="{width:'300px'}" styleClass = "perfil" header={{usuario.nome}} >
        <p> <i class="pi pi-envelope"></i>
             {{usuario.email}}</p>
      
        <p> <i class="pi pi-phone"></i>
             {{usuario.telefone}}</p>
        
        <p> <i class="pi pi-id-card"></i>
             CPF: {{usuario.cpf}}</p>
        
        <p> <i class="pi pi-calendar" styleClass="pisize"></i>
             Data de nascimento: {{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</p>
      </p-card>


      <button styleClass = "perfil" (click)="confirm(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
      <button styleClass = "perfil" (click)="showDialog()"  pButton type="button" icon="pi pi-pencil"></button>
      <p-dialog header="Editar Usuario" [(visible)]="display">
        <app-formulario (emitEdicao) = "receberEdicao($event)"></app-formulario>
     </p-dialog>
     <p-confirmDialog header="Remover conta" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>



<div class="p-d-flex" >
  
    <div >
        <p-card  header="Suas Inscrições">
            
            <div *ngFor="let preinsc of eventos" >
                <p-card styleClass =insc header="inscricao" >
                    <p> <i class="pi pi-pi-ticket"></i>
                         Descrição: {{preinsc.descricao}} </p>

                    <p> <i class="pi pi-check-square "></i>
                         Situação: {{preinsc.situacao}}</p>
                    
                    <p> <i class="pi pi-calendar" styleClass="pisize"></i>
                         Inicio: {{preinsc.periodoInicio}}
                    </p>

                    <p> <i class="pi pi-calendar" styleClass="pisize"></i>
                        Fim: {{preinsc.periodoFim}}
                   </p>
                  
                  </p-card>
                
            </div>
            
             
        </p-card>
    </div>
</div>
</div>

